* {
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
}


.error-message {
    position: absolute;;
    top: 0;
    left: 0;
    background-color: indianred;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.nav-bar {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    display: inline;
    padding-left: 10%;
    font-size: 25px;
}


#id-form {
    border-radius: 10px;
    width: 20%;
    margin-top: 7%;
    margin-left: 40%;
    height: 40%;
    text-align: center;
}

#id-username {
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#id-age{
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#id-email{
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#id-password{
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#id-password-repeat{
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#submit-inscription {
    margin-top: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: none;
    padding: 5px;
}

.salutation{
    font-weight: bold;
    font-size: 20px;
    color: orange;
}

.salutation-inscription{
    font-weight: bold;
    font-size: 20px;
    color: orange;
}

.class-form-connexion {
    border-radius: 10px;
    width: 40%;
    margin-top: 8%;
    margin-left: 30%;
    height: 35%;
    text-align: center;
}

#id-username-connexion {
    margin-top: 60px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;

}

#id-password-connexion {
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#submit-connexion {
    margin-top: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: none;
    padding: 5px;
}


.home-title, .home-content, .container, .home {
    margin-top: 2%;
    text-align: center;
}

@media  screen and (max-width: 330px){
   body {
       font-size: 1rem;
   }
}