* {
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
}


.error-message {
    position: absolute;;
    top: 0;
    left: 0;
    background-color: indianred;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    display: inline;
    padding-left: 10%;
    font-size: 25px;
}
.homee {
    text-align: center;
}

#home {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    display: inline;
    padding-left: 10%;
    font-size: 25px;
}

#id-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 20%;
    margin-top: 7%;
    margin-left: 40%;
    height: 40%;
    text-align: center;
}

#id-username {
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#id-age{
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#id-email{
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#id-password{
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#id-password-repeat{
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#submit-inscription {
    margin-top: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: none;
    padding: 5px;
}

.salutation{
    font-weight: bold;
    font-size: 20px;
    color: orange;
}

.salutation-inscription{
    font-weight: bold;
    font-size: 20px;
    color: orange;
}

#class-form-connexion {
    border-radius: 10px;
    width: 40%;
    margin-top: 8%;
    margin-left: 30%;
    height: 35%;
    text-align: center;
}

.class-username-connexion {
    margin-top: 60px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;

}

.class-email-connexion {
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#submit-connexion {
    margin-top: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: none;
    padding: 5px;
}


.home-title, .home-content, .container, .home {
    margin-top: 2%;
    text-align: center;
}


.button {
   background-color: orange;
   border-radius: 12px;
   color: #000;
   cursor: pointer;
   font-weight: bold;
   padding: 10px 15px;
   text-align: center;
   transition: 200ms;
   width: 100%;
   box-sizing: border-box;
   border: 0;
   font-size: 16px;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.button:not(:disabled):hover, .button:not(:disabled):focus {
    outline: 0;
    background: orange;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

@media  screen and (max-width: 330px){
   body, a, input, form {
       font-size: 1.2rem;
   }

}