* {
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
}


.error-message, .success-message {
    position: absolute;;
    top: 0;
    left: 0;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.error-message {
    background-color: indianred;
}

.success-message {
    background-color: mediumaquamarine;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    display: inline;
    padding-left: 10%;
    font-size: 25px;
}


#home {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    display: inline;
    padding-left: 10%;
    font-size: 25px;
}

#id-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 20%;
    margin-top: 7%;
    margin-left: 40%;
    height: 45%;
}

#id-username {
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#id-age{
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#id-email{
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#id-password{
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#id-password-repeat{
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#submit-inscription {
    margin-top: 25px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: none;
    padding: 5px;
}

.salutation{
    font-weight: bold;
    font-size: 20px;
    color: orange;
}

.salutation-inscription{
    font-weight: bold;
    font-size: 20px;
    color: orange;
}

#class-form-connexion {
    border-radius: 10px;
    width: 40%;
    margin-top: 8%;
    margin-left: 30%;
    height: 35%;
    text-align: center;
}

.class-username-connexion {
    margin-top: 60px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;

}

.comment-link {
    padding: 0;
    font-size: 1rem;
}

.product {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 75px;
}

.class-email-connexion {
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

.class-password-connexion {
    margin-top: 10px;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

#submit-connexion {
    margin-top: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: none;
    padding: 5px;
}

.home-title, .home-content, .container, .home {
   width: 75%;
    margin-bottom: 40px;
    margin-left: 5%;
}

.home-title, .home-content {
    text-align: center;
}
.homee {
    margin-left: 38%;
}
.button, .edit-comm-button, .delete-comm-button {
   background-color: orange;
   border-radius: 12px;
   color: #000;
   cursor: pointer;
   font-weight: bold;
   padding: 10px 15px;
   text-align: center;
   transition: 200ms;
   width: 100%;
   box-sizing: border-box;
   border: 0;
   font-size: 16px;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}


.button:not(:disabled):hover, .button:not(:disabled):focus, .delete-comm-button:not(:disabled):hover, .edit-comm-button:not(:disabled):hover {
    outline: 0;
    background: orange;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button:disabled, .edit-comm-button:disabled, .delete-comm-button:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.delete-comm-button {
    margin-left: 3%;
}
.comment-title {
    text-align: center;
    margin-top: 5%;
}

.users-list td {
    padding: 15px;
}

.users-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 8%;
}

.add-product-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
}
.user-name {
    font-size: 20px;
}
textarea {
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

label {
    font-size: 18px;
    font-weight: bold;
}

input {
    text-decoration-line: none;
    color: darkgrey;
    border: 2px solid orange;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 4px 6px 6px;
}

.add-product-button {
    margin-top: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: none;
    padding: 5px;
}

.add-product-title{
    text-align: center;
}

.edit-product-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
}

.edit-product-button {
    margin-top: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: none;
    padding: 5px;
}

.edit-product-title {
    text-align: center;
}

.admin-title {
    text-align: center;
    margin-top: 12%;
}

.admin-link {
    text-align: center;
    margin-top: 7%;
}

@media  screen and (max-width: 330px){
   body, a, input, form {
       font-size: 1.2rem;
   }

}